.root {
	display: inline-block;
	flex-shrink: 0;
	width: 1em;
	height: 1em;
	fill: currentColor;
	font-size: 24px;
	user-select: none;
}

.colorPrimary {
	color: pink;
}

.colorSecondary {
	color: palegreen;
}

.colorError {
	color: purple;
}

.colorDisabled {
	color: darkgrey;
}

.fontSizeInherit {
	font-size: inherit;
}

.fontSizeSmall {
	font-size: 20px;
}

.fontSizeLarge {
	font-size: 36px;
}
