.list {
	display: flex;
	flex-direction: column;
	min-height: 200px;
	text-align: left;
}

.mobileContainer {
	animation: slide-up 0.4s ease;
}

@keyframes slide-up {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
