.root {
	display: flex;
	// flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.flexRow {
	flex-direction: row;
}
.flexRowReverse {
	flex-direction: row-reverse;
}
.flexColumn {
	flex-direction: column;
}
.flexColumnReverse {
	flex-direction: column-reverse;
}

.justifyStart {
	justify-content: flex-start;
}
.justifyCenter {
	justify-content: center;
}
.justifyEnd {
	justify-content: flex-end;
}
.justifySpaced {
	justify-content: space-between;
}
.justifyAround {
	justify-content: space-around;
}

.alignStart {
	align-items: flex-start;
}
.alignCenter {
	align-items: center;
}
.alignEnd {
	align-items: flex-end;
}
.alignStretch {
	align-items: stretch;
}
.alignBaseline {
	align-items: baseline;
}
