@import '../../components/styles/partials/mixins.module';

$unit: 60;

.countdown {
	position: relative;
	margin-bottom: 30px;

	@include up(sm) {
		&:not(:last-of-type)::before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: -15px;
			transform: translate(50%, 50%);
			border: 4px solid;
			border-radius: 4px;
		}

		&:not(:last-of-type)[data-display='hours']::before,
		&:not(:last-of-type)[data-display='minutes']::before {
			transform: translate(50%, -150%);
		}

		&:not(:last-of-type)[data-display='hours']::after,
		&:not(:last-of-type)[data-display='minutes']::after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: -15px;
			transform: translate(50%, 50%);
			border: 4px solid;
			border-radius: 4px;
		}
	}
}
