@import '../styles/all.module';

.root {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;

	@media (min-width: $break-point--sm) {
		max-width: 540px;
	}
	@media (min-width: $break-point--md) {
		max-width: 720px;
	}
	@media (min-width: $break-point--lg) {
		max-width: 960px;
	}
	@media (min-width: $break-point--xl) {
		max-width: 1140px;
	}
}
