@import '../styles/colors.module';
@import '../../components/styles/all.module';

.root {
	& > li {
		display: inline-block;
		margin-left: 44px;
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: -10px;
			top: 50%;
			margin-top: -2px;
			border: 2px solid $color--primary;
			border-radius: 2px;
			transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
				0.6s opacity;
			will-change: opacity, transform;
		}
		&:hover:after {
			transform: translateX(-6px);
			opacity: 0;
		}

		& > a {
			color: inherit;
			display: block;
			// padding-top: 28px;
			// padding-bottom: 28px;
			line-height: 1;
			font-weight: 700;
			z-index: 1;
		}

		@media (max-width: $break-point--xl) {
			flex: 1;
			display: flex;
			align-items: center;
			margin-left: 10px;
		}
	}

	@media (max-width: $break-point--sm) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}
