.root {
	position: relative;
	display: flex;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 24px;
	transition: background-color 0.4s ease-out;
	will-change: box-shadow;
}
.gutters {
	padding-right: 24px;
	padding-left: 24px;
}
.regular {
	min-height: 64px;
}
.dense {
	min-height: 48px;
}
