@import '../styles/all.module';
@import '../styles/colors.module';

/* Styles applied to the root element if `variant="display4"`. */

.display1 {
	margin-top: 0;
	font-family: $font-family--display;
	font-size: 42px;
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 48px;

	@media (min-width: $break-point--lg) {
		font-size: 112px;
		letter-spacing: -0.04em;
		line-height: 120px;
	}
}

.h1 {
	font-size: 42px;
	letter-spacing: -0.02em;
	line-height: 48px;
	// margin-top: 0;

	@media (min-width: $break-point--lg) {
		font-size: 56px;
		line-height: 72px;
	}
}

.h2 {
	font-size: 38px;
	line-height: 48px;
	// margin-top: 0;

	@media (min-width: $break-point--lg) {
		font-size: 45px;
	}
}

.h3 {
	font-size: 34px;
	line-height: 48px;
	// margin-top: 0;
}

.h4 {
	margin: 0 0 16px;
	font-size: 24px;
	line-height: 24px;
}

.h5 {
	margin-top: 0;
	font-size: 20px;
	letter-spacing: 0.02em;
	line-height: 24px;
}

.h6 {
	margin-top: 0;
	font-size: 16px;
	line-height: 24px;
}

.subtitle1,
.cite {
	margin-top: 0;
	font-family: $font-family--body;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.2em;
	line-height: 24px;
	text-transform: uppercase;

	a {
		color: inherit;
	}
}

.cite {
	display: inline-block;
	position: relative;
	z-index: 1;
	margin: 0;
	padding-left: 48px;
	line-height: 24px;

	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		top: 11px;
		left: 0;
		width: 24px;
		height: 2px;
		background-color: $color--body;
		pointer-events: none;
	}
}

.subtitle2 {
	margin-top: 0;
	color: $color--body-alt;
	font-size: 11px;
	letter-spacing: 0.04em;
	text-transform: uppercase;

	a:not(:hover) {
		color: inherit;
	}
}

.body1 {
	font-weight: normal;
}

.body2 {
	font-weight: 700;
}

.body3 {
	color: $color--body-alt;
	font-size: 14px;
	font-weight: normal;
}

.colorPrimary {
	color: $color--primary;
}

.colorSecondary {
	color: $color--secondary;
}

.colorWhite {
	color: $color--body-lighten;
}
