// Global

// font-families
$font-family--display: 'Poppins', sans-serif;
$font-family--body: 'Karla', sans-serif;

// break points
$break-point--sm: 24em;
$break-point--md: 36em;
$break-point--lg: 48em;
$break-point--xl: 60em;
