/* Main
========================================================================== */
@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700');
@import './colors.module';
@import './all.module';

*:focus {
	outline: none;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button,
input,
select,
textarea {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: $color--body-background;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

body,
button,
input,
select,
textarea {
	color: $color--body;
	font-family: $font-family--body;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	line-height: 24px;
}

textarea {
	resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 36px 0 12px;
	clear: both;
	font-family: $font-family--display;
	font-weight: 700;

	span {
		display: inline-block;
	}
}

a {
	transition: color 0.4s 0.1s ease-out;
	color: $color--link;
	text-decoration: none;
}

a:hover,
a:focus {
	outline: 0;
	color: $color--link-hover;
}

p {
	margin: 0 0 24px;
	padding: 0;

	&.has-drop-cap:not(:focus)::first-letter {
		margin: 6px 6px 0 0;
		float: left;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 42px;
		text-transform: uppercase;
	}
}
