@import '../styles/partials/colors.module';
@import '../../components/styles/partials/mixins.module';

/*  Footer */
.root {
	flex-shrink: 0;
	padding: 72px 20px;
	background-color: $color--dark-background;

	a:not(:hover) {
		color: $color--link;
	}
	@include down(md) {
		h6 {
			margin-top: 22px;
		}
	}
}
