@import '../styles/partials/colors.module';

/*  Footer */
.root {
	flex-shrink: 0;
	padding-top: 72px;
	padding-bottom: 72px;
	background-color: $color--dark-background;

	a:not(:hover) {
		color: $color--link;
	}
}
